/* general styling-setup */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}


/* body section-background color */
body {
    background-color: #b6b6b6;
    position: relative;
}


/* Header stylization */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 64px;
}

header h1 .seo {
    color: #d9dcd6;
}

header div {
    padding-top: 20px;
    margin-right: 30px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;
}

header div ul {
    list-style-type: none;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}


/* Jumbotron */
.hero {
    height: 1080px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


/* float organization class criteria*/

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}


/* Beginning of content articals */
.content {
    width: 75%;
    height: auto;
    display: inline-block;
    margin-left: 20px;
    padding: auto;
}

.content img {
    width: auto;
    max-height: 250px;
    overflow: auto;
}
.content h2 {
    margin-bottom: 20px;
    font-size: 48px;
    padding-right: 60px;
}

.content p {
    font-size: 21px;
    width: auto;
    padding: auto;
    margin: 0px 60px 0px auto;
}

.company_specialties {
    margin-bottom: 20px;
    padding: 50px;
    height: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}


/* beginning of flag styling*/
.benefits {
    margin: 0px 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 21%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.your-benefit {
    margin-bottom: 32px;
    color: #ffffff;
}


.your-benefit h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 24px;
}

.your-benefit img {
    display: block;
    margin: 10px auto;
    max-width: 175px;
}

.your-benefit p {
    padding: 16px;
    font-size: 18px;

}


/* Footer Stylization */
.footer {
    float: left;
    padding: 15px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    position: absolute;
    bottom: auto;
    left: 400px;
}

.footer h2 {
    font-size: 20px;
}

.footer a {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}